##############
# IDE / OS
##############
.idea/
.vscode/
.DS_Store
Thumbs.db

##############
# Environnement
##############
.env
_docker/.env

##############
# Logs
##############
*.log
npm-debug.log

##############
# Docker
##############
*.tar

##############
# Node.js
##############
node_modules/
package-lock.json
